*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #b1fd81;
}


section{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 25px;

}


.card{
    flex-direction: column;
    align-items: start;
    background-color: #2e9c0c;
    border: 1px solid hsl(180, 4%, 5%);
    padding: 15px ;
    display: flex;
    width: 1/4;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 3px 4px 10px hwb(137 9% 32%) ;


}
.card>h1{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.card-body{
    padding: 10px;
}

.card-body>h4{
    margin-bottom: 10px;
    font-size: 20px;
}
.desc{
    margin-top: 10px;
    text-wrap: pretty;
    text-align: justify;

    width: 300px;
}